body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'monserrat', sans-serif;
}

header {
    background-color: #6C8E2C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-container2 div a {
    text-decoration: none;
}

.logo {
    width: 120px;
    height: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav-item a,
.header-container2 a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.botones a {
    display: inline-block;
    text-decoration: none;
}

.botones a img {
    width: 66px;
    height: 66px;
}

.banner img {
    width: 100%;
    height: auto;
}

.paginas-principales {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: -35px;
    position: relative;
    z-index: 10;

}

.btn-dulceria {
    width: 550px;
    height: 70px;
    background-color: #70A31F;
    color: white;
    font-size: 32px;
    font-weight: 700;
    border: none;
    border-radius: 14px 4px 4px 14px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn-regalos {
    width: 550px;
    height: 70px;
    background-color: #6C8E2C;
    color: white;
    font-size: 32px;
    font-weight: 700;
    border: none;
    border-radius: 4px 14px 14px 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.vitrina-productos {
    display: flex;
    gap: 20px;
    padding: 30px 20px;
    max-width: 1400px;
    margin: 30px auto;
    align-items: stretch;

}

.filtrado {
    width: 220px;
    min-width: 220px;
    border: 2px solid #3F3F3F;
    padding: 18px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:0px;
}

.separador {
    border: none;
    border-top: 1px solid #3F3F3F;
    margin: 4px -14px;
}

.filtrado h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #524E4E;
    text-align: center;
    text-transform: uppercase;
}

.filtro-grupo h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 0px;
    color: #524E4E;
}

.filtro-items {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 8px;
}

.filtro-items input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #70A31F;
    cursor: pointer;
}

.filtro-items label {
    font-size: 20px;
    color: #444;
    cursor: pointer;
}

.filtro-precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #444;
    gap: 6px;
}

.filtro-precio input[type="text"] {
    width: 90px;
    padding: 4px 8px;
    margin: 20px 0 20px 0;
    border: 1.5px solid #c8c8c8;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

hr {
    border: none;
    border-top: 1px solid #d9d9d9;
    margin: 12px 0;
}

.productos {
    flex:1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px;
}

.card {
    width: 100%;
    height: 380px;
    border: 2px solid #65A83C;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.items h3
.items p{
    margin: 0;
}

.items .agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .agregar-carrito .icono {
    filter: brightness(0) invert(1);
    width: 32px;
    height: 32px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.card .card-img {
    width: 130px;
    height: 180px;
    object-fit: contain;
    margin: 0 auto 15px auto;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin: 0;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0;
}

.top h3 {
    font-size: 18px;
    color: #3F3F3F;
    font-weight: 600;
    margin: 0;
}

.top p {
    font-size: 20px;
    color: #3F3F3F;
    font-weight: 500;
    margin: 0;
}

.card .agregar-carrito {
    background: #6C8E2C;
    color: white;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.icono{
    width: 34px !important;
    height: 34px !important;

}

.card .agregar-carrito:hover {
    background: #70A31F;
}

.card .agregar-carrito i {
    font-size: 18px;
    font-weight: 600;
}

.banner-video img {
    width: 100%;
    height: auto;
    margin: 0px;
    
}

.productos-videos {
    flex:1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    right: 40px;
    margin-top: 20px;
}

.card-videos {
    width: 218px;
    height: 262px;
    border: 2px solid #65A83C;
    border-radius: 32px;
    background: #fff;
    padding: 40px 40x;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
   
}

.card-videos .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.top-videos, h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
}

.card-img-videos {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 0 auto 10px auto;

}


.banner-pedidos img {
    width: 100%;
    height: auto;
    margin: 47px 0px;
    
}

