* {
    margin: 0;
    padding: 0;

}

body {
    
    background-color: #ffff; /* Establece el color de fondo de la página en blanco */
    margin: 0; /* Elimina el margen externo predeterminado del navegador */
    padding: 0; /* Elimina el espacio interno predeterminado */
    font-family: 'Montserrat', sans-serif; /* Define la fuente principal del sitio */
    box-sizing: border-box; /* Incluye padding y borde dentro del tamaño total del elemento */
    overflow-x: hidden; /* Oculta el contenido que sobresalga horizontalmente y evita el scroll lateral */

}
/* oculta menu movil o hamburgesa*/
.label_hamburgesa, .menu-hamburgesa{
    display: none;
}
.nav-item-movil {
    display: none;
}
.nav-iconos {
    display: none;
}
#menu-check {
    display: none;
}

header {
    background-color: #6C8E2C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    gap: 20px;

}

.header-container {
    display: flex;
    align-items: center;
    height: 70px;
    

}

.menu_hamburgesa{
    display: none;
}

.header-container2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.header-container2 div a {
    text-decoration: none;
}

.logo {

    width: 130px;
    height: 80px;
    margin: 15px;
    margin-left: 0px;
    gap: 20px;

}

.logo img {
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 0px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;

}

.nav-links a:hover,
.registro a:hover {
    text-decoration: underline;
    color: #fff;

}

.nav-item a,
.header-container2 a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.botones a {
    display: inline-block;
    text-decoration: none;
}

.botones a img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-principal img{
    width: 1280px;
    height: auto;
}

.banner-principal{
    margin-bottom: 45px;
}

.pedidos{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pedipo-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 45px 0 45px;
    padding: 23px 40px;
    border: 2px solid #FFC43F;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.imagen{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.pedido-info{
    flex: 1;
    margin-left: 45px;
}

.estado-contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pedidos-info2 p{
    font-size: 24px;
    font-weight: 500;
}
.pedido-info h2{
    font-size: 40PX;
    font-weight: 500;
    margin-bottom: 20px;
}

.pedido-info p{
    font-size: 24PX;
    font-weight: 500;
    margin: 20px 0;
}

.pedido-estado{
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #7BA71D;
    color: white;

    padding: 15px 25px;
    border-radius: 15px;
}

.pedido-estado img{
    width: 35px;
    height: 35px;
}

.estado{
    font-size: 2rem;
    font-weight: 500;
}

.ver-mas{
    margin-left: 30px;
}

.ver-mas img{
    width: 48px;
    cursor: pointer;
}