/*font-weight: 100; Thin 
font-weight: 200;  Extra Light 
font-weight: 300;  Light 
font-weight: 400;  Regular 
font-weight: 500;  Medium 
font-weight: 600;  SemiBold 
font-weight: 700;  Bold 
font-weight: 800;  Extra Bold 
font-weight: 900; Black */ 

* {
    
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffff; /* Establece el color de fondo de la página en blanco */
    margin: 0; /* Elimina el margen externo predeterminado del navegador */
    padding: 0; /* Elimina el espacio interno predeterminado */
    font-family: 'Montserrat', sans-serif; /* Define la fuente principal del sitio */
    box-sizing: border-box; /* Incluye padding y borde dentro del tamaño total del elemento */
    overflow-x: hidden; /* Oculta el contenido que sobresalga horizontalmente y evita el scroll lateral */
}


.header {
    background-color: #6C8E2C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    gap: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 70px;
}

.menu_hamburgesa{
    display: none;
}

.header-container2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.header-container2 div a {
    text-decoration: none;
}

.logo {

    width: 130px;
    height: 80px;
    margin: 15px;
    margin-left: 0px;
    gap: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 0px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav-links a:hover,
.registro a:hover {
    text-decoration: underline;
    color: #fff;
}

.nav-item a,
.header-container2 a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.botones a {
    display: inline-block;
    text-decoration: none;
}

.botones a img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.paginas-principales {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: -30px;
    position: relative;
    z-index: 10;
}

.btn-dulceria {
    width: 550px;
    height: 70px;
    background-color: #6C8E2C;
    color: white;
    font-size: 32px;
    font-weight: 700;
    border: none;
    border-radius: 14px 4px 4px 14px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn-regalos {
    width: 550px;
    height: 70px;
    background-color: #70A31F;
    color: white;
    font-size: 32px;
    font-weight: 700;
    border: none;
    border-radius: 4px 14px 14px 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
/* oculta menu movil o hamburgesa*/
.label_hamburgesa, .menu-hamburgesa{
    display: none;
}
.nav-item-movil {
    display: none;
}
.nav-iconos {
    display: none;
}
#menu-check {
    display: none;
}

/*slider inicio */
.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 330%;
    height: 100%;
    animation: mover 8s infinite;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes mover {

    0%,
    30% {
        transform: translateX(0);
    }

    33%,
    63% {
        transform: translateX(-36.33%);
    }

    66%,
    96% {
        transform: translateX(-68.66%);
    }

    100% {
        transform: translateX(0);
    }
}

.fondo-ranking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: #FFFFFF;
    border: 1px solid #3F3F3F;
    margin: 45px auto 0 auto;
}

.ranking{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 82px;
    background-color: #6C8E2C;
    justify-content: center; /* horizontal */
    align-items: center; /*vertical*/

}

.text-ranking{}

.fondo-ranking{
    width: 1000px;
    height: 420px;
    background: #FFFFFF;
    border: 1px solid #3F3F3F;
    margin: 45px auto 0;
}

.ranking{
    width: 100%;
    height: 70px;
    background: #6C8E2C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-ranking{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0;
}

.productos-ranking{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

.producto{
    width: 250px;
    height: 250px;

    border: 2px solid #70A31F;
    border-radius: 3px;
    background: #fff;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

    padding:10px;
}

/* MISMO TAMAÑO PARA LAS 3 TARJETAS */
.producto-centro{
    width: 250px;
    height: 250px;
    padding: 12px;

    margin-top: -12px;
    z-index: 10;
}

/* izquierda */
.producto:first-of-type{
    margin-top:15px;
    margin-right:-15px;
}

/* derecha */
.producto:last-of-type{
    margin-top:15px;
    margin-left:-15px;
}

.pro-img,
.pro-img-2{
    width: 200px;
    height: 210px;
    object-fit: cover;

}
.text-tarjeta{
    margin-top:10px;
    font-size:20px;
    font-weight:600;
    text-align:center;
}
.flecha{
    width: 40px;
    height: 40px;
    margin: 20px 20px;
}

.canasta-banner img{
    width: 93%;
    height: 100%;
    margin: 45px 45px;
    

}
/* sistema de filtrado*/
.filtro{
    display: flex;              /* los pone en fila */
    gap: 10px;                  /* espacio entre botones */
    flex-wrap: nowrap;         /* evita que bajen de línea */
    overflow-x: auto;          /* si no caben, se puede deslizar */
    padding: 10px;
    margin: 0 45px;
    gap: 18px;
}

.btn-filtrado{
    border: 2px solid ;  /* borde  */
    background-color: white;    /* fondo blanco */
    color: #050505;             /* texto  */
    padding: 8px 15px;
    border-radius: 10px;        /* bordes redondeados tipo botón */
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    min-width: 130px; 
    width: 160px;
    white-space: nowrap;        /* evita que el texto se parta */
    text-align: center;
    transition: all 0.3s ease;
}

.btn-filtrado-2 {
    border: 2px solid ;  /* borde  */
    background-color: white;    /* fondo blanco */
    color: #050505;             /* texto  */
    padding: 8px 15px;
    border-radius: 10px;        /* bordes redondeados tipo botón */
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    min-width: 130px; 
    width: 160px;
    white-space: nowrap;        /* evita que el texto se parta */
    text-align: center;
    transition: all 0.3s ease;
}

.btn-filtrado:hover, .btn-filtrado-2:hover{
    background-color: #6C8E2C;  /* cambia al pasar el mouse */
    color: white;
}
.vitrina {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    display: grid;
    /* Activa CSS Grid */
    grid-template-columns: repeat(4, 1fr);
    /* 3 columnas iguales */
    gap: 20px;
    /* Espacio entre productos */
    padding: 0px;
    /* Sin espacio interno */
    margin: 45px 45px;
}
.card {
    width: 100%;
    height: 380px;
    border: 4px solid #65A83C;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.items h3 .items p {
    margin: 0;
}

.items .agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .agregar-carrito .icono {
    filter: brightness(0) invert(1);
    width: 32px;
    height: 32px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

.card .card-img {
    width: 210px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto 15px auto;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin: 0;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0;
}

.top h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #3F3F3F;
    font-weight: 700;
    margin: 0;
}

.top p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3F3F3F;
    font-weight: 600;
    margin: 0;
}

.card .agregar-carrito {
    background: #6C8E2C;
    color: white;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icono, .icono-carrito{
    width: 34px;
    height: 34px;

}
/*ANIMAGION DE BOTON AGREGAR AL CARRITO*/
.agregar-carrito {
    background: #8AAE2D;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.agregar-carrito:hover {
    background: #70A31F;
}

/* Oculta el texto original al pasar el mouse */
.agregar-carrito:hover .texto-btn {
    font-size: 0;
}

/* Muestra el nuevo texto */
.agregar-carrito:hover .texto-btn::after {
    content: "Agregado";
    font-size: 20px;
    font-weight: 600;
    object-fit: contain;
}

/* Cambia el icono */
.agregar-carrito:hover .icono-carrito {
    content: url("/assets/imagenes-index/Buy.png");
    width: 34px;
    height: 34px;
    padding-left: 0%;

}

.card .agregar-carrito i {
    font-size: 18px;
    font-weight: 600;
}


/*slider 3 sonas */
.slider2{
    width: 100%;
    height: 400px;
    margin: 47px 0px;
    padding: 20px 0px;
}

.slides img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}
/* pie de pagina*/
footer {
    background-color: #272925;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
    width: 100%;
    box-sizing: border-box;
}

/* Columna 1 */
.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.logo-footer {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    margin: 15px;
}

.logo-footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frase_footer {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
}

.iconos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.iconos img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icono_1 {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icono_2 {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icono_3 {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.icono_4 {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icono_5 {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* Columna 2  del footer*/
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 12px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
/* Columna 3 del footer*/
.footer-contacto {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 10px;
    max-width: 270px;
}

.contacto-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
}

.contacto-item img {
    width: 60px;
    height: 60px;

}

/* Barra inferior */
.footer-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 14px 60px;
    border-top: 1px solid #444;
    color: #aaa;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

/* =========================
   TABLET (768px - 1024px)
========================= */
@media screen and (max-width: 1024px){

    /* HEADER */
    .header{
        padding: 15px 20px;
        gap: 10px;
    }

    .logo{
        width: 100px;
        height: 60px;
    }

    .nav-links{
        gap: 15px;
    }

    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item a,
    .header-container2 a{
        font-size: 14px;
    }

    /* BOTONES PRINCIPALES */
    .btn-dulceria,
    .btn-regalos{
        width: 390px;
        height: 60px;
        font-size: 24px;
    }

    /* SLIDER */
    .slider{
        height: 350px;
    }

    /* RANKING */
    .fondo-ranking{
        width: 95%;
        height: auto;
        padding-bottom: 30px;
    }

    .ranking{
        width: 100%;
    }

    .text-ranking{
        font-size: 32px;
    }

    .productos-ranking{
        gap: 5px;
        flex-wrap: nowrap;
    }

    .producto,
    .producto-centro{
        width: 180px;
        height: 190px;
    }

    .pro-img,
    .pro-img-2{
        width: 140px;
        height: 140px;
    }

    .text-tarjeta{
        font-size: 16px;
    }

    .flecha{
        width: 25px;
        height: 25px;
    }

    /* BANNER */
    .canasta-banner img{
        width: 95%;
        margin: 30px auto;
        display: block;
    }

    /* FILTROS */
    .filtro{
        margin: 20px;
        gap: 10px;
    }

    .btn-filtrado,
    .btn-filtrado-2{
        font-size: 20px;
        width: 118px;
        min-width: 118px;
    }

    /* PRODUCTOS */
    .vitrina{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 30px 20px;
    }

    .card{
        height: auto;
    }

    .card .card-img{
        width: 180px;
        height: 180px;
    }

    .card-price{
        font-size: 20px;
    }

    /* SEGUNDO SLIDER */
    .slider2{
        height: 250px;
    }

    /* FOOTER */
    .footer-container{
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .logo-footer{
        width: 150px;
        height: 80px;
    }

    .frase_footer{
        font-size: 18px;
    }

    .footer-links a{
        font-size: 18px;
    }

    .contacto-item{
        font-size: 18px;
    }

    .contacto-item img{
        width: 40px;
        height: 40px;
    }

    /* menu*/
    
   .label_hamburgesa{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 50px;
    }

    .nav-links{
        display: none;
    }

    .nav-links a{
        font-size: 28px;
        font-weight: 600;
        padding: 15px 0;
    }
    .header-container2{
        display: none;
    }

   .menu_hamburgesa:checked + .nav-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: #6C8E2C;
        padding: 30px 0;
        z-index: 999;
    }

    .nav-item-movil{
        display: block;
    }

    .nav-iconos{
        display: flex;
        gap: 15px;
    }
}

/* =========================
   MÓVIL (hasta 767px)
========================= */
@media screen and (max-width: 767px){

    /* HEADER */
    .header{
        padding: 15px;
    }

    .logo{
        width: 90px;
        height: 55px;
    }

    .label_hamburgesa{
        display: block;
    }

    .header-container2{
        display: none;
    }

    .nav-links{
        display: none;
    }

    .menu_hamburgesa:checked + .nav-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        background: #6C8E2C;
        padding: 20px 0;
        z-index: 999;
        gap: 15px;
    }

    .nav-links a{
        font-size: 22px;
    }

    /* BOTONES PRINCIPALES */
    .paginas-principales{
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }

    .btn-dulceria,
    .btn-regalos{
        width: 95%;
        height: 55px;
        font-size: 20px;
    }


    /* SLIDER */
    .slider{
        width: 100%;
        height: 220px;
    }
    
    .banner_regalo{
        object-position: center center;
    }

     /* RANKING */
    .fondo-ranking{
        width: 95%;
        height: auto;
        border: none; /* quita el borde */
        padding-bottom: 20px;
    }

    /* TARJETAS EN COLUMNA */
    .productos-ranking{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    /* OCULTAR FLECHAS */
    .flecha{
        display: none;
    }

    /* TODAS LAS TARJETAS DEL RANKING */
    .producto,
    .producto-centro{
        width: 220px;
        height: 220px;
        margin: 0;
        padding: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 2px solid #70A31F;
        border-radius: 6px;
    }

    .producto:first-of-type,
    .producto:last-of-type{
        margin: 0 auto ;
    }
    .producto-centro{
        transform: none;
    }

    /* IMÁGENES CENTRADAS */
    .pro-img,
    .pro-img-2{
        width: 160px;
        height: 160px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    /* TEXTO */
    .text-tarjeta{
        margin-top: 12px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    /* TÍTULO */
    .text-ranking{
        font-size: 28px;
    }

    /* BANNER */
    .canasta-banner img{
        width: 95%;
        margin: 20px auto;
        display: block;
    }

    /* FILTROS */
  
      .filtro{
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: none;
    }


    .filtro{
        overflow-x: auto;
    }

    
    /* PRODUCTOS */
    .vitrina{
        grid-template-columns: 1fr;
        margin: 20px 15px;
        gap: 20px;
    }

    .card{
        width: 100%;
    }

    .card .card-img{
        width: 160px;
        height: 160px;
    }

    /* SEGUNDO SLIDER */
    .slider2{
        height: 180px;
    }

    /* FOOTER */
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        padding: 25px 15px;
    }

    .frase_footer{
        font-size: 16px;
    }

    .footer-links a{
        font-size: 18px;
    }

    .contacto-item{
        font-size: 16px;
        justify-content: center;
    }

    .contacto-item img{
        width: 35px;
        height: 35px;
    }

    .footer-bottom{
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
}